@model IEnumerable<UserManagement.Models.User>

<h1>Lista de Usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Avatar</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.First_Name</td>
                <td>@user.Last_Name</td>
                <td>@user.Email</td>
                <td>
                    <img src="@user.Avatar" alt="Avatar" width="50" height="50"/>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-info">Ver Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Create" class="btn btn-dark-blue">Agregar Usuario</a>
</div>
